<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nodo_ka_mome.fukuisoftcompetition2017">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name="nodo_ka_mome.fukuisoftcompetition2017.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity   android:name="nodo_ka_mome.fukuisoftcompetition2017.StartActivity"
            android:screenOrientation="portrait"></activity>
        <activity   android:name="nodo_ka_mome.fukuisoftcompetition2017.HomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity   android:name="nodo_ka_mome.fukuisoftcompetition2017.HakkutuActivity"
            android:screenOrientation="portrait"></activity>
        <activity   android:name="nodo_ka_mome.fukuisoftcompetition2017.HakkutuCityActivity"
            android:screenOrientation="portrait"></activity>
        <activity   android:name="nodo_ka_mome.fukuisoftcompetition2017.QuizActivity"
            android:screenOrientation="portrait"></activity>
        <activity   android:name="nodo_ka_mome.fukuisoftcompetition2017.ResultActivity"
            android:screenOrientation="portrait"></activity>
        <activity   android:name="nodo_ka_mome.fukuisoftcompetition2017.MuseumActivity"
            android:screenOrientation="landscape"></activity>
        <activity   android:name="nodo_ka_mome.fukuisoftcompetition2017.RecordActivity"
            android:screenOrientation="portrait"></activity>
        <activity   android:name="nodo_ka_mome.fukuisoftcompetition2017.RankingActivity"
            android:screenOrientation="portrait"></activity>
        <activity   android:name="nodo_ka_mome.fukuisoftcompetition2017.SetActivity"
            android:screenOrientation="portrait"></activity>
        <activity   android:name="nodo_ka_mome.fukuisoftcompetition2017.MountainActivity"
            android:screenOrientation="portrait"></activity>
        <activity   android:name="nodo_ka_mome.fukuisoftcompetition2017.HummerActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>